<!-- Modal individual para cada card -->
<div class="modal fade" id="modal{{ task.task_id }}" tabindex="-1" role="dialog" aria-labelledby="modalLabel{{ task.task_id }}" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel{{ task.task_id }}">{{ task.title }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>{{ task.description }}</p>
                <div>
                    {% if task.done == False %}
                    <span class="badge bg-danger fs-6">Tarefa não concluída <i class="fa-solid fa-triangle-exclamation" style="color: #ffffff;"></i></span>
                    {% else %}
                    <span class="badge bg-success fs-6">Tarefa concluída <i class="fa-solid fa-check" style="color: #ffffff;"></i></span>
                    {% endif %}
                  </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>